# API Gateway Endpoint
POSLITE_API_ORIGIN=http://localhost:8080
NEXT_PUBLIC_API_URL=http://localhost:8080

# MercadoPago Integration (Public Key for Dev)
NEXT_PUBLIC_MP_PUBLIC_KEY=TEST-00000000-0000-0000-0000-000000000000
